@import url("https://fonts.cdnfonts.com/css/amoera");

.card-title {
    cursor: none;
    font-family: 'Amoera', sans-serif;
}
.card-text {
    font-family: 'Amoera', sans-serif;
}
.food-card {
    cursor: pointer;
}

.food-card:hover {
    transform: scale(1.05);
    transition: transform ease .5s;
}